@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');


.home__header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  a:link,
  a:visited {
    font-size: 1.6rem;
    display: inline-block;
    color: #fff;
    background-color: #020529;
    padding: 0.4rem 1.6rem;
    border-radius: 0.5rem;
    text-decoration: none;
    bottom: 2rem;
    border: 2px solid #020529;
    transition: all 0.2s;
  }
  a:hover,
  a:active {
    background-color: transparent;
    color: #020529;
    text-decoration: none;
  }
  .edit__profile {
    right: 2rem;
  }
}

.home__heading {
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Raleway', sans-serif;
  h1 {
    font-family: 'Alice', serif;
    font-size: 3rem;
  }
  p {
    font-size: 1.8rem;
  }
  .user__details {
    margin-top: 1rem;
    span {
      font-weight: 500;
    }
  }
}

.pie__chart {
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}