* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #333;
  line-height: 1.5;
  position: relative;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}


@font-face {
  font-family: 'FastHand';
  src: url('../assets/fonts/Fasthand-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Body';
  src: url('../assets/fonts/Domine-VariableFont_wght.ttf') format('truetype');
}
