$primary-dark: #1a237e;
$primary: #283593;
$primary-light: #5c6bc0;
$primary-text: #ffffff;
$secondary: #ff6f00;
$secondary-dark: #c43e00;
$secondary-light: #ffa040;
$secondary-text: #ffffff;
$white: #ffffff;
$gray: #cecece;

.btn {
  background-color: #020529;
  color: $white;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 1rem 0;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heading {
  font-size: 3rem;
  margin-bottom: 2rem;
}

input {
  border: 2px solid #e2e8f0;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 4rem;
}







@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&family=Roboto:wght@300;400;500;700&family=Rubik:wght@400;500;700&display=swap');