.home {
  padding: 2rem;
  font-size: 2rem;
  ul {
    list-style: none;
    display: flex;
    background-color: #f9fafb;
    text-align: center;
    padding: 1rem;
    border-radius: 0.6rem;
    li {
      flex-grow: 1;
      font-weight: 500;
      .nav__home__link:link,
      .nav__home__link:active,
      .nav__home__link:visited {
        padding: 0.6rem 0;
        transition: all 0.3s ease-in-out;
        display: inline-block;
        width: 100%;
        text-decoration: none;
        color: #d4d4d8;
      }
      .nav__home__link.active {
        border-radius: 0.6rem;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
        background-color: #f8fafc;
        color: #334155;
      }
    }
  }
}
