.job__status {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  .home__heading {
    font-size: 4rem;
  }

  .job__stats {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;

    .total__application {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex: 1;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 2rem 3rem;
      border-radius: 12px;
      .application__status {
        display: flex;
        flex-direction: column;
        padding: 0 12rem;
        span:first-child {
          font-size: 2rem;
          font-weight: 500;
          color: #64748b;
        }
        span:last-child {
          font-size: 4rem;
          color: #475569;
        }
      }

      .application__status:first-child {
        border-right: 2px solid #e2e8f0;
      }

      .application__status:last-child {
        border-left: 2px solid #e2e8f0;
      }
    }

    .job__status {
      display: flex;
      flex-direction: column;
      gap: 1.4rem;
      flex: 1;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 3rem;
      border-radius: 12px;

      .status__heading {
        display: inline-block;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 2rem;
      }
      &--categories {
        background-color: #f5f5f5;
        padding: 2rem;
        border-radius: 12px;
      }

      &--item {
        background-color: #ffffff;
        padding: 2rem;
        margin-bottom: 1rem;
        border-radius: 12px;
        cursor: pointer;

        &__title {
          font-size: 2rem;
          display: flex;
          justify-content: space-between;
        }
        .job__status--stage {
          display: inline-block;
        }
      }
    }
  }
}
